# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

//git add --renormalize src/pages/Home.jsx
//git status   # Asegurate que ahora diga "Changes to be committed"
//git commit -m "Fix CRLF/LF y actualizaciones en Home.jsx"
